@font-face {
   font-family: 'vertopal.com_MADEINFINITYPersonalUse-Black';
   font-display: swap;
   src: url('vertopal.com_MADEINFINITYPersonalUse-Black/font.ttf');
}
@font-face {
   font-family: 'vertopal.com_MADEINFINITYPersonalUse-Regular';
   font-display: swap;
   src: url('vertopal.com_MADEINFINITYPersonalUse-Regular/font.ttf');
}
