@font-face {
   font-family: 'MADEINFINITYPersonalUse-Black';
   font-display: swap;
   src: url('file:///C:/Users/Mansi/OneDrive/Desktop/Mobirise%20Website%20Files/SEO%20Ease/fonts/MADEINFINITYPersonalUse-Black/font.ttf');
}
