@font-face {
   font-family: 'MADEINFINITYPersonalUse-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Mansi/OneDrive/Desktop/Mobirise%20Website%20Files/SEO%20Ease/fonts/MADEINFINITYPersonalUse-Regular/font.ttf');
}
